body {
    background-color: #f8f9fa; 
}
.navbar {
    background-color: #003366;
    font-family: "Playfair", serif;
}
.navbar-brand, .nav-link {
    color: white !important;
}
.navbar-brand{
    font-size: 30px;
}
.nav-link{
    font-size: 20px;
}

.hero-section {
    background-color: #ffffff; 
    padding: 50px 0;
}

.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image {
    width: 400px; 
    height: 463px;
    border-radius: 10%; 
    object-fit: cover; 
    overflow: hidden;
}

h1 {
    font-weight: 650;
    font-family: "Playfair", serif;
    color: #663300; 
}

p {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #333333; 
}

.btn {
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.05)
}


.btn-contact {
    background-color: #003366; 
    border: 1px solid #003366; 
}


.btn-services {
    background-color: #663300;
    border: 1px solid #663300;
}


.btn-contact:hover {
    background-color: #0055a5; 
}

.btn-services:hover {
    background-color: #8b4d26; 
}


.footer {
  background-color: #031322 !important; 
    padding: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
 
}

.footer-logo .logo-image {
    width: 150px; 
    height: auto;
}


.footer-links {
    text-align: center;
    flex-grow: 1;
    font-family: "Poppins", sans-serif;
}

.footer-links ul {
    display: block;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.3s ease-in-out;
    font-weight: 600;
}

.footer-link:hover {
    color: #007bff; 
}


.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-weight: 600;
}

.social-icons a {
    text-decoration: none; 
    color: inherit; 
    font-size: 30px; 
    transition: transform 0.3s, color 0.3s; 
    
}


.social-icons a:hover {
    transform: scale(1.2); 
    color: #007bff; 
}


.social-icons a i.fa-facebook-square {
    color: #3b5998;
}

.social-icons a i.fa-twitter-square {
    color: #1da1f2;
}

.social-icons a i.fa-whatsapp-square {
    color: #25d366;
}

.social-icons a i.fa-instagram-square {
    color: #e4405f;
}


.footer-bottom {
    background-color: #000000;
    color: #8b4d26 ;
}

.footer-bottom  p{
    color: #ffff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}